:root {
  --main-accent-color: #c7ffd8;
}

.navbar-main {
  background-color: #161d6f;
}

.main-title {
  color: var(--main-accent-color);
}

.intro-card {
  width: auto;
  height: 450px;
  background-color: #98ded9;
}

.img-person-left {
  position: absolute;
  top: 190px;
  left: 50px;
  height: 250px;
}

.intro-card p {
  font-size: 6rem;
}

.home-card {
  background-color: #f6f6f6;
}

.topic-link {
  color: #161d6f !important;
  padding: none;
  margin: none;
}

.topic-link-accent {
  font-size: 1.4rem;
}

.delete-button {
  position: absolute;
  bottom: 0px;
  right: 20px;
}
