:root {
  --main-accent-color: #d3e0ea;
}

body {
  background-color: #f6f5f5;
}

.navbar-main {
  background-color: #1687a7;
}

.main-title {
  color: var(--main-accent-color);
}

.intro-card {
  width: auto;
  height: 450px;
  background-color: #98ded9;
}

.img-person-left {
  position: absolute;
  top: 190px;
  left: 50px;
  height: 250px;
}

.browse-btn {
  background-color: var(--main-accent-color);
  border: none;
  color: black;
}

.topics-card {
  box-shadow: 6px 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.topic-link-accent {
  font-size: 1.4rem;
}

.delete-button {
  position: absolute;
  bottom: 0px;
  right: 20px;
}

img {
  border: 2px solid black !important;
}
